@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  color: #2a2839;
  background-color: #fefdff;
  font-family: "Poppins", sans-serif;
}

main {
  width: 60%;
  margin: auto;
}

.link {
  color: #8a72ac;
  font-weight: 600;
  margin-left: 0.5em;
}
.linkContainer {
  align-items: flex-start;
  width: 100%;
  margin-top: 2em;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 2.8em;
  margin-top: 10vh;
}

img {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.kirjeldus {
  color: #b1afc2;
  font-weight: 500;
  font-size: 0.8em;
  margin-bottom: 9em;
  margin-top: 0.3em;
}
button {
  background-color: #8a72ac;
  font-family: "Poppins", sans-serif;
  transition: 0.1s ease;
  color: white;
  padding: 0.7em 1.5em;
  margin-left: 1em;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: #7a6893;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer p {
  cursor: pointer;
  transition: 0.1s ease;
}
footer p:hover {
  color: #5f6e64;
}

::selection {
  background: #d4e09b;
}
@media (max-width: 1400.98px) {
  main {
    width: 80%;
  }
}

@media (max-width: 767.98px) {
  main {
    width: 100%;
  }
}
