#tutvustus {
  width: 60%;
  text-align: justify;
  font-size: 0.9em;
  font-weight: 400;
}
#tutvustus h1 {
  margin-bottom: 2em;
}
section {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  margin-bottom: 15vh;
  width: 100%;
}
#hinnangud {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 60%;
  height: fit-content;
}
#tualettAndmed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0em;
}
img {
  width: 100%;
  height: auto;
}
#tualettPiltDiv,
#tualettAndmed {
  width: 45%;
}
#nupud {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 4em;
}
footer {
  margin-top: 0em;
}

@media (max-width: 1400.98px) {
}

@media (max-width: 1200.98px) {
  #hinnangud,
  #tutvustus {
    width: 90%;
  }
}
@media (max-width: 767.98px) {
  #hinnangud {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    /* max-height: 70vh; */
  }
  #tualettPiltDiv,
  #tualettAndmed {
    width: 75%;
    margin-top: 2em;
    max-height: 50vh;
    overflow: hidden;
  }
  #tutvustus {
    width: 80%;
  }
  footer {
    margin-top: 15vh;
  }
  .kirjeldus {
    margin-bottom: 3em;
  }
}

@media (max-width: 575.98px) {
  #tualettPiltDiv,
  #tualettAndmed {
    width: 100%;
  }
  #tutvustus,
  .kirjeldus {
    width: 90%;
  }
}
